.bg{
    background-color:lightpink;
}
h1{
    color: rgb(105, 0, 158);
}
h2{
    color: darkviolet;
}
.au{
    background-color: lightpink;
}
.fu{
    background-color: lightpink;
    
}
